input,
select {
	margin-bottom: 1rem;
}

label {
	margin: 0;
	width: 100%;
	text-align: left;
}

#formCategory {
	display: none;
	flex-flow: column;
	width: 100%;
	justify-content: center;
	align-items: flex-start;
	padding: 1.5rem;
}

#formDesp {
	display: none;
	flex-flow: column;
	width: 100%;
	justify-content: center;
	align-items: flex-start;
	padding: 1.5rem;
}

#formRece {
	display: none;
	flex-flow: column;
	width: 100%;
	justify-content: center;
	align-items: flex-start;
	padding: 1.5rem;
}

.form-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 5rem;
	flex-direction: column;
}

.form-register {
	width: 100%;
	max-width: 900px;
}

.cursor {
	cursor: pointer;
}

.container-table {
	overflow-x: auto;
	margin-bottom: 3rem;
	width: 100%;
	max-width: 855px;
}

.btn-table {
	margin: 5px;
}

table {
	margin-top: 1rem;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #ddd;
}

th,
td {
	text-align: left;
	padding: 8px;
	font-size: 15pt;
}

th {
	color: #fff;
}

td:first-child {
	font-weight: 700;
}

.trCate:nth-child(even) {
	background-color: #007bff25;
}

.trCate:first-of-type {
	background-color: #007bff;
}

#table-category {
	display: none;
}

#table-category2 {
	display: none;
}
