* {
	padding: 0;
	margin: 0;
	outline: 0;
	box-sizing: border-box;
}

/*header*/
header {
	background: #42a5f6;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0 0 0.8rem 0.8rem;
	padding: 2.7vh 0;
}
/*header end*/

/*body*/
body {
	background: #bddef2;
	display: flex;
	flex-flow: column;
}

.perfilbody {
	background: white;
	display: flex;
	flex-flow: column;
}

/* Image */
.image {
	width: 100%;
	max-width: 45px;
}

/*main*/
main {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	padding: 10px;
}

main div {
	background-color: #f5f5f5;
	padding: 20px;
	border-radius: 0.8rem 0.8rem 0.8rem 0.8rem;
	width: 100%;
	max-width: 700px;
}

main div h3 {
	font-size: 25px;
}

main p {
	text-align: center;
	font-size: 18px;
}
/*main end*/

/*label*/
label {
	margin-top: 30px;
	font-size: 16px;
}
/*label end*/

/*article*/
article {
	margin-top: 30px;
	margin-bottom: 10px;
	justify-content: space-between;
	align-content: center;
	display: flex;
}

.login {
	width: 100%;
	font-size: 16px;
	background-color: #44aff2;
	border: none;
	text-align: center;
}

.criar {
	font-size: 16px;
	background-color: #44aff2;
	border: none;
	margin-left: 20px;
}

.voltar {
	font-size: 16px;
	margin: 0;
}

.perfilbutton {
	text-align: center;
	justify-content: center;
}

.alterar {
	font-size: 14px;
	background-color: #44aff2;
	border: none;
	margin-left: 20px;
}

.delete {
	font-size: 14px;
	margin: 0;
}

/*article end*/

/*section*/
section {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: 16px;
}

/*section end*/

/*media*/
@media (min-width: 600px) {
	main div h3 {
		font-size: 30px;
	}

	.image {
		width: 100%;
		max-width: 55px;
	}

	.criar {
		font-size: 18px;
		width: 70px;
		height: 40px;
		align-items: center;
		justify-content: center;
	}

	.voltar {
		font-size: 18px;
		width: 70px;
		height: 40px;
		align-items: center;
		justify-content: center;
	}

	.submit {
		font-size: 18px;
		width: 70px;
		height: 40px;
		align-items: center;
		justify-content: center;
	}

	label {
		font-size: 18px;
	}
}
/*media end*/
